@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root.sent {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2116 0.0094 346.2702);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2116 0.0094 346.2702);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2116 0.0094 346.2702);
  --primary: oklch(0.6532 0.2114 353.9392);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8568 0.1599 89.0757);
  --secondary-foreground: oklch(0.2211 0.0075 91.6680);
  --muted: oklch(0.9671 0.0051 345.2821);
  --muted-foreground: oklch(0.5473 0.0167 345.9220);
  --accent: oklch(0.9603 0.0490 91.7554);
  --accent-foreground: oklch(0.5437 0.1064 87.7765);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.9174 0.0130 345.5100);
  --input: oklch(0.9174 0.0130 345.5100);
  --ring: oklch(0.6532 0.2114 353.9392);
  --chart-1: oklch(0.6532 0.2114 353.9392);
  --chart-2: oklch(0.8568 0.1599 89.0757);
  --chart-3: oklch(0.5240 0.1322 351.4381);
  --chart-4: oklch(0.6841 0.1237 89.6184);
  --chart-5: oklch(0.7664 0.1201 348.9431);
  --sidebar: oklch(0.9842 0.0013 345.1793);
  --sidebar-foreground: oklch(0.3139 0.0171 346.5128);
  --sidebar-primary: oklch(0.6532 0.2114 353.9392);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9799 0.0247 91.6109);
  --sidebar-accent-foreground: oklch(0.6532 0.2114 353.9392);
  --sidebar-border: oklch(0.9341 0.0103 345.4308);
  --sidebar-ring: oklch(0.6532 0.2114 353.9392);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0 0 / 0.05);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0 0 / 0.05);
  --shadow-sm: 0px 4px 10px 0px hsl(0 0 0 / 0.10), 0px 1px 2px -1px hsl(0 0 0 / 0.10);
  --shadow: 0px 4px 10px 0px hsl(0 0 0 / 0.10), 0px 1px 2px -1px hsl(0 0 0 / 0.10);
  --shadow-md: 0px 4px 10px 0px hsl(0 0 0 / 0.10), 0px 2px 4px -1px hsl(0 0 0 / 0.10);
  --shadow-lg: 0px 4px 10px 0px hsl(0 0 0 / 0.10), 0px 4px 6px -1px hsl(0 0 0 / 0.10);
  --shadow-xl: 0px 4px 10px 0px hsl(0 0 0 / 0.10), 0px 8px 10px -1px hsl(0 0 0 / 0.10);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0 0 / 0.25);
  --tracking-normal: 0px;
  --spacing: 0.25rem;
}

.dark.sent {
  --background: oklch(0.1537 0.0102 346.8133);
  --foreground: oklch(0.9842 0.0013 345.1793);
  --card: oklch(0.1869 0.0156 347.2118);
  --card-foreground: oklch(0.9842 0.0013 345.1793);
  --popover: oklch(0.1869 0.0156 347.2118);
  --popover-foreground: oklch(0.9842 0.0013 345.1793);
  --primary: oklch(0.6856 0.1898 352.1927);
  --primary-foreground: oklch(0.1537 0.0102 346.8133);
  --secondary: oklch(0.8421 0.1666 87.3239);
  --secondary-foreground: oklch(0.1609 0.0041 91.6122);
  --muted: oklch(0.2596 0.0271 347.6974);
  --muted-foreground: oklch(0.7188 0.0121 345.5777);
  --accent: oklch(0.2596 0.0271 347.6974);
  --accent-foreground: oklch(0.7638 0.1369 349.4920);
  --destructive: oklch(0.3901 0.1297 25.5736);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.3084 0.0345 347.8813);
  --input: oklch(0.3084 0.0345 347.8813);
  --ring: oklch(0.6856 0.1898 352.1927);
  --chart-1: oklch(0.6856 0.1898 352.1927);
  --chart-2: oklch(0.8421 0.1666 87.3239);
  --chart-3: oklch(0.5691 0.1739 353.2015);
  --chart-4: oklch(0.6486 0.1235 88.6215);
  --chart-5: oklch(0.8146 0.0813 347.5928);
  --sidebar: oklch(0.1760 0.0139 347.0981);
  --sidebar-foreground: oklch(0.9204 0.0065 345.3272);
  --sidebar-primary: oklch(0.6856 0.1898 352.1927);
  --sidebar-primary-foreground: oklch(0.1537 0.0102 346.8133);
  --sidebar-accent: oklch(0.2291 0.0223 347.5368);
  --sidebar-accent-foreground: oklch(0.6856 0.1898 352.1927);
  --sidebar-border: oklch(0.2596 0.0271 347.6974);
  --sidebar-ring: oklch(0.6856 0.1898 352.1927);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.3;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0px 4px 12px 0px hsl(0 0 0 / 0.15);
  --shadow-xs: 0px 4px 12px 0px hsl(0 0 0 / 0.15);
  --shadow-sm: 0px 4px 12px 0px hsl(0 0 0 / 0.30), 0px 1px 2px -1px hsl(0 0 0 / 0.30);
  --shadow: 0px 4px 12px 0px hsl(0 0 0 / 0.30), 0px 1px 2px -1px hsl(0 0 0 / 0.30);
  --shadow-md: 0px 4px 12px 0px hsl(0 0 0 / 0.30), 0px 2px 4px -1px hsl(0 0 0 / 0.30);
  --shadow-lg: 0px 4px 12px 0px hsl(0 0 0 / 0.30), 0px 4px 6px -1px hsl(0 0 0 / 0.30);
  --shadow-xl: 0px 4px 12px 0px hsl(0 0 0 / 0.30), 0px 8px 10px -1px hsl(0 0 0 / 0.30);
  --shadow-2xl: 0px 4px 12px 0px hsl(0 0 0 / 0.75);
}

:root.hope {
  --background: oklch(0.9831 0.0029 308.4282);
  --foreground: oklch(0.1909 0.0518 305.0975);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.1909 0.0518 305.0975);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1909 0.0518 305.0975);
  --primary: oklch(0.5098 0.2439 299.8167);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8682 0.2409 132.4741);
  --secondary-foreground: oklch(0.2918 0.0790 130.3595);
  --muted: oklch(0.9149 0.0147 308.2818);
  --muted-foreground: oklch(0.4912 0.0344 307.6856);
  --accent: oklch(0.9667 0.0632 125.9757);
  --accent-foreground: oklch(0.4347 0.2049 300.1316);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.8717 0.0224 308.1760);
  --input: oklch(0.8717 0.0224 308.1760);
  --ring: oklch(0.5098 0.2439 299.8167);
  --chart-1: oklch(0.5098 0.2439 299.8167);
  --chart-2: oklch(0.8682 0.2409 132.4741);
  --chart-3: oklch(0.5340 0.2164 320.3007);
  --chart-4: oklch(0.6571 0.1775 148.6880);
  --chart-5: oklch(0.6675 0.1098 306.5842);
  --sidebar: oklch(0.9645 0.0087 308.3601);
  --sidebar-foreground: oklch(0.2850 0.0752 305.2145);
  --sidebar-primary: oklch(0.5098 0.2439 299.8167);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9731 0.0506 125.7801);
  --sidebar-accent-foreground: oklch(0.4347 0.2049 300.1316);
  --sidebar-border: oklch(0.8976 0.0178 308.2410);
  --sidebar-ring: oklch(0.5098 0.2439 299.8167);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 5px;
  --shadow-blur: 15px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0px 5px 15px 0px hsl(0 0 0 / 0.05);
  --shadow-xs: 0px 5px 15px 0px hsl(0 0 0 / 0.05);
  --shadow-sm: 0px 5px 15px 0px hsl(0 0 0 / 0.10), 0px 1px 2px -1px hsl(0 0 0 / 0.10);
  --shadow: 0px 5px 15px 0px hsl(0 0 0 / 0.10), 0px 1px 2px -1px hsl(0 0 0 / 0.10);
  --shadow-md: 0px 5px 15px 0px hsl(0 0 0 / 0.10), 0px 2px 4px -1px hsl(0 0 0 / 0.10);
  --shadow-lg: 0px 5px 15px 0px hsl(0 0 0 / 0.10), 0px 4px 6px -1px hsl(0 0 0 / 0.10);
  --shadow-xl: 0px 5px 15px 0px hsl(0 0 0 / 0.10), 0px 8px 10px -1px hsl(0 0 0 / 0.10);
  --shadow-2xl: 0px 5px 15px 0px hsl(0 0 0 / 0.25);
  --tracking-normal: 0px;
  --spacing: 0.25rem;
}

.dark.hope {
  --background: oklch(0.1485 0.0174 307.2520);
  --foreground: oklch(0.9598 0.0036 308.4186);
  --card: oklch(0.1793 0.0262 306.8050);
  --card-foreground: oklch(0.9598 0.0036 308.4186);
  --popover: oklch(0.1793 0.0262 306.8050);
  --popover-foreground: oklch(0.9598 0.0036 308.4186);
  --primary: oklch(0.5905 0.2097 303.5671);
  --primary-foreground: oklch(0.1546 0.0057 308.0492);
  --secondary: oklch(0.8913 0.2392 131.5511);
  --secondary-foreground: oklch(0.1978 0.0514 127.5410);
  --muted: oklch(0.2466 0.0451 306.3545);
  --muted-foreground: oklch(0.7519 0.0232 308.1185);
  --accent: oklch(0.2466 0.0451 306.3545);
  --accent-foreground: oklch(0.8913 0.2392 131.5511);
  --destructive: oklch(0.4760 0.1590 25.6357);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.2921 0.0574 306.1760);
  --input: oklch(0.2921 0.0574 306.1760);
  --ring: oklch(0.8913 0.2392 131.5511);
  --chart-1: oklch(0.5905 0.2097 303.5671);
  --chart-2: oklch(0.8913 0.2392 131.5511);
  --chart-3: oklch(0.5688 0.2061 320.5402);
  --chart-4: oklch(0.6890 0.1745 149.6451);
  --chart-5: oklch(0.7638 0.0767 307.3428);
  --sidebar: oklch(0.1674 0.0272 306.6120);
  --sidebar-foreground: oklch(0.9191 0.0074 308.3716);
  --sidebar-primary: oklch(0.5905 0.2097 303.5671);
  --sidebar-primary-foreground: oklch(0.1485 0.0174 307.2520);
  --sidebar-accent: oklch(0.2184 0.0373 306.5068);
  --sidebar-accent-foreground: oklch(0.8913 0.2392 131.5511);
  --sidebar-border: oklch(0.2741 0.0525 306.2388);
  --sidebar-ring: oklch(0.8913 0.2392 131.5511);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 8px;
  --shadow-blur: 20px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0px 8px 20px 0px hsl(0 0 0 / 0.20);
  --shadow-xs: 0px 8px 20px 0px hsl(0 0 0 / 0.20);
  --shadow-sm: 0px 8px 20px 0px hsl(0 0 0 / 0.40), 0px 1px 2px -1px hsl(0 0 0 / 0.40);
  --shadow: 0px 8px 20px 0px hsl(0 0 0 / 0.40), 0px 1px 2px -1px hsl(0 0 0 / 0.40);
  --shadow-md: 0px 8px 20px 0px hsl(0 0 0 / 0.40), 0px 2px 4px -1px hsl(0 0 0 / 0.40);
  --shadow-lg: 0px 8px 20px 0px hsl(0 0 0 / 0.40), 0px 4px 6px -1px hsl(0 0 0 / 0.40);
  --shadow-xl: 0px 8px 20px 0px hsl(0 0 0 / 0.40), 0px 8px 10px -1px hsl(0 0 0 / 0.40);
  --shadow-2xl: 0px 8px 20px 0px hsl(0 0 0 / 1.00);
}

:root.hazak {
  --background: oklch(0.9869 0.0047 211.0396);
  --foreground: oklch(0.3245 0.0531 214.9473);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3245 0.0531 214.9473);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3245 0.0531 214.9473);
  --primary: oklch(0.7560 0.1314 216.7461);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9278 0.0094 211.0375);
  --secondary-foreground: oklch(0.4312 0.0656 213.8749);
  --muted: oklch(0.9640 0.0047 211.0396);
  --muted-foreground: oklch(0.5811 0.0442 211.3706);
  --accent: oklch(0.9478 0.0186 211.0421);
  --accent-foreground: oklch(0.5814 0.1000 216.3495);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.9160 0.0169 211.0409);
  --input: oklch(0.9160 0.0169 211.0409);
  --ring: oklch(0.7560 0.1314 216.7461);
  --chart-1: oklch(0.7560 0.1314 216.7461);
  --chart-2: oklch(0.6015 0.0943 214.2809);
  --chart-3: oklch(0.7303 0.0715 211.7102);
  --chart-4: oklch(0.8239 0.0352 211.1057);
  --chart-5: oklch(0.8912 0.0142 211.0390);
  --sidebar: oklch(0.9721 0.0056 211.0390);
  --sidebar-foreground: oklch(0.3815 0.0608 214.5351);
  --sidebar-primary: oklch(0.7560 0.1314 216.7461);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9324 0.0186 211.0425);
  --sidebar-accent-foreground: oklch(0.6409 0.1107 216.5100);
  --sidebar-border: oklch(0.9300 0.0140 211.0386);
  --sidebar-ring: oklch(0.7560 0.1314 216.7461);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.08;
  --shadow-color: 190 80% 10%;
  --shadow-2xs: 0px 4px 12px 0px hsl(190 80% 10% / 0.04);
  --shadow-xs: 0px 4px 12px 0px hsl(190 80% 10% / 0.04);
  --shadow-sm: 0px 4px 12px 0px hsl(190 80% 10% / 0.08), 0px 1px 2px -1px hsl(190 80% 10% / 0.08);
  --shadow: 0px 4px 12px 0px hsl(190 80% 10% / 0.08), 0px 1px 2px -1px hsl(190 80% 10% / 0.08);
  --shadow-md: 0px 4px 12px 0px hsl(190 80% 10% / 0.08), 0px 2px 4px -1px hsl(190 80% 10% / 0.08);
  --shadow-lg: 0px 4px 12px 0px hsl(190 80% 10% / 0.08), 0px 4px 6px -1px hsl(190 80% 10% / 0.08);
  --shadow-xl: 0px 4px 12px 0px hsl(190 80% 10% / 0.08), 0px 8px 10px -1px hsl(190 80% 10% / 0.08);
  --shadow-2xl: 0px 4px 12px 0px hsl(190 80% 10% / 0.20);
  --tracking-normal: 0px;
  --spacing: 0.25rem;
}

.dark.hazak {
  --background: oklch(0.1552 0.0175 209.9660);
  --foreground: oklch(0.9856 0.0019 211.0416);
  --card: oklch(0.1999 0.0248 212.1630);
  --card-foreground: oklch(0.9856 0.0019 211.0416);
  --popover: oklch(0.1999 0.0248 212.1630);
  --popover-foreground: oklch(0.9856 0.0019 211.0416);
  --primary: oklch(0.7939 0.1203 213.8388);
  --primary-foreground: oklch(0.1705 0.0198 211.0433);
  --secondary: oklch(0.2929 0.0327 212.0289);
  --secondary-foreground: oklch(0.9856 0.0019 211.0416);
  --muted: oklch(0.2565 0.0274 211.9011);
  --muted-foreground: oklch(0.7799 0.0287 211.0817);
  --accent: oklch(0.2929 0.0327 212.0289);
  --accent-foreground: oklch(0.8381 0.0992 212.2170);
  --destructive: oklch(0.3901 0.1297 25.5736);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.3282 0.0379 212.1294);
  --input: oklch(0.3282 0.0379 212.1294);
  --ring: oklch(0.7939 0.1203 213.8388);
  --chart-1: oklch(0.7939 0.1203 213.8388);
  --chart-2: oklch(0.7085 0.1122 214.4343);
  --chart-3: oklch(0.5654 0.0715 212.4915);
  --chart-4: oklch(0.4487 0.0452 211.7666);
  --chart-5: oklch(0.3866 0.0274 211.3123);
  --sidebar: oklch(0.1854 0.0223 211.7219);
  --sidebar-foreground: oklch(0.9278 0.0094 211.0375);
  --sidebar-primary: oklch(0.7939 0.1203 213.8388);
  --sidebar-primary-foreground: oklch(0.1705 0.0198 211.0433);
  --sidebar-accent: oklch(0.2565 0.0274 211.9011);
  --sidebar-accent-foreground: oklch(0.7939 0.1203 213.8388);
  --sidebar-border: oklch(0.2929 0.0327 212.0289);
  --sidebar-ring: oklch(0.7939 0.1203 213.8388);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 8px;
  --shadow-blur: 16px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0px 8px 16px 0px hsl(0 0 0 / 0.20);
  --shadow-xs: 0px 8px 16px 0px hsl(0 0 0 / 0.20);
  --shadow-sm: 0px 8px 16px 0px hsl(0 0 0 / 0.40), 0px 1px 2px -1px hsl(0 0 0 / 0.40);
  --shadow: 0px 8px 16px 0px hsl(0 0 0 / 0.40), 0px 1px 2px -1px hsl(0 0 0 / 0.40);
  --shadow-md: 0px 8px 16px 0px hsl(0 0 0 / 0.40), 0px 2px 4px -1px hsl(0 0 0 / 0.40);
  --shadow-lg: 0px 8px 16px 0px hsl(0 0 0 / 0.40), 0px 4px 6px -1px hsl(0 0 0 / 0.40);
  --shadow-xl: 0px 8px 16px 0px hsl(0 0 0 / 0.40), 0px 8px 10px -1px hsl(0 0 0 / 0.40);
  --shadow-2xl: 0px 8px 16px 0px hsl(0 0 0 / 1.00);
}