@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2116 0.0094 346.2702);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2116 0.0094 346.2702);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2116 0.0094 346.2702);
  --primary: oklch(0.6532 0.2114 353.9392);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8568 0.1599 89.0757);
  --secondary-foreground: oklch(0.2211 0.0075 91.6680);
  --muted: oklch(0.9671 0.0051 345.2821);
  --muted-foreground: oklch(0.5473 0.0167 345.9220);
  --accent: oklch(0.9603 0.0490 91.7554);
  --accent-foreground: oklch(0.5437 0.1064 87.7765);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.9174 0.0130 345.5100);
  --input: oklch(0.9174 0.0130 345.5100);
  --ring: oklch(0.6532 0.2114 353.9392);
  --chart-1: oklch(0.6532 0.2114 353.9392);
  --chart-2: oklch(0.8568 0.1599 89.0757);
  --chart-3: oklch(0.5240 0.1322 351.4381);
  --chart-4: oklch(0.6841 0.1237 89.6184);
  --chart-5: oklch(0.7664 0.1201 348.9431);
  --sidebar: oklch(0.9842 0.0013 345.1793);
  --sidebar-foreground: oklch(0.3139 0.0171 346.5128);
  --sidebar-primary: oklch(0.6532 0.2114 353.9392);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9799 0.0247 91.6109);
  --sidebar-accent-foreground: oklch(0.6532 0.2114 353.9392);
  --sidebar-border: oklch(0.9341 0.0103 345.4308);
  --sidebar-ring: oklch(0.6532 0.2114 353.9392);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0 0 / 0.05);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0 0 / 0.05);
  --shadow-sm: 0px 4px 10px 0px hsl(0 0 0 / 0.10), 0px 1px 2px -1px hsl(0 0 0 / 0.10);
  --shadow: 0px 4px 10px 0px hsl(0 0 0 / 0.10), 0px 1px 2px -1px hsl(0 0 0 / 0.10);
  --shadow-md: 0px 4px 10px 0px hsl(0 0 0 / 0.10), 0px 2px 4px -1px hsl(0 0 0 / 0.10);
  --shadow-lg: 0px 4px 10px 0px hsl(0 0 0 / 0.10), 0px 4px 6px -1px hsl(0 0 0 / 0.10);
  --shadow-xl: 0px 4px 10px 0px hsl(0 0 0 / 0.10), 0px 8px 10px -1px hsl(0 0 0 / 0.10);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0 0 / 0.25);
  --tracking-normal: 0px;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1537 0.0102 346.8133);
  --foreground: oklch(0.9842 0.0013 345.1793);
  --card: oklch(0.1869 0.0156 347.2118);
  --card-foreground: oklch(0.9842 0.0013 345.1793);
  --popover: oklch(0.1869 0.0156 347.2118);
  --popover-foreground: oklch(0.9842 0.0013 345.1793);
  --primary: oklch(0.6856 0.1898 352.1927);
  --primary-foreground: oklch(0.1537 0.0102 346.8133);
  --secondary: oklch(0.8421 0.1666 87.3239);
  --secondary-foreground: oklch(0.1609 0.0041 91.6122);
  --muted: oklch(0.2596 0.0271 347.6974);
  --muted-foreground: oklch(0.7188 0.0121 345.5777);
  --accent: oklch(0.2596 0.0271 347.6974);
  --accent-foreground: oklch(0.7638 0.1369 349.4920);
  --destructive: oklch(0.3901 0.1297 25.5736);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.3084 0.0345 347.8813);
  --input: oklch(0.3084 0.0345 347.8813);
  --ring: oklch(0.6856 0.1898 352.1927);
  --chart-1: oklch(0.6856 0.1898 352.1927);
  --chart-2: oklch(0.8421 0.1666 87.3239);
  --chart-3: oklch(0.5691 0.1739 353.2015);
  --chart-4: oklch(0.6486 0.1235 88.6215);
  --chart-5: oklch(0.8146 0.0813 347.5928);
  --sidebar: oklch(0.1760 0.0139 347.0981);
  --sidebar-foreground: oklch(0.9204 0.0065 345.3272);
  --sidebar-primary: oklch(0.6856 0.1898 352.1927);
  --sidebar-primary-foreground: oklch(0.1537 0.0102 346.8133);
  --sidebar-accent: oklch(0.2291 0.0223 347.5368);
  --sidebar-accent-foreground: oklch(0.6856 0.1898 352.1927);
  --sidebar-border: oklch(0.2596 0.0271 347.6974);
  --sidebar-ring: oklch(0.6856 0.1898 352.1927);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.3;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0px 4px 12px 0px hsl(0 0 0 / 0.15);
  --shadow-xs: 0px 4px 12px 0px hsl(0 0 0 / 0.15);
  --shadow-sm: 0px 4px 12px 0px hsl(0 0 0 / 0.30), 0px 1px 2px -1px hsl(0 0 0 / 0.30);
  --shadow: 0px 4px 12px 0px hsl(0 0 0 / 0.30), 0px 1px 2px -1px hsl(0 0 0 / 0.30);
  --shadow-md: 0px 4px 12px 0px hsl(0 0 0 / 0.30), 0px 2px 4px -1px hsl(0 0 0 / 0.30);
  --shadow-lg: 0px 4px 12px 0px hsl(0 0 0 / 0.30), 0px 4px 6px -1px hsl(0 0 0 / 0.30);
  --shadow-xl: 0px 4px 12px 0px hsl(0 0 0 / 0.30), 0px 8px 10px -1px hsl(0 0 0 / 0.30);
  --shadow-2xl: 0px 4px 12px 0px hsl(0 0 0 / 0.75);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}